:root {
  --color-primary: #0bdbb6;
  --color-primary-light: #f9fffe;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
}
body {
  font-family: "Poppins", sans-serif;
  /* 1rem = 10px; */
  font-size: 62.5%;
  line-height: 1.7;
  font-weight: 400;
}
.body-container {
  height: 100vh;
  position: relative;
}
.svg-container {
  position: absolute;
  background-color: var(--color-primary-light);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
}
.svg-image {
  position: absolute;
  left: 60%;
  top: 25%;
  /* z-index: 2; */
}
.header {
  height: 5.5rem;
  font-size: 1rem;
  position: relative;
}
.logo-box {
  position: absolute;
  top: 3rem;
  left: 2rem;
}
.logo {
}
.navbar {
  position: absolute;
  top: 3rem;
  left: 52%;
}
.list-item {
  list-style: none;
  float: left;
  padding-left: 30;
  padding-right: 30px;
  text-transform: uppercase;
}
.list-item a {
  text-decoration: none;
  color: #222222;
  padding: 0.9rem 0;
}

.active {
  color: #0bdbb6 !important;
  font-weight: bold;
  border-bottom: 2px solid var(--color-primary);
}
.contact-me {
  color: var(--color-primary) !important ;
  font-weight: bold;
  padding: 0.9rem 0.8rem !important;
  background-color: rgba(11, 219, 181, 0.1);
}

.bio {
  padding-left: 10rem;
  padding-top: 7%;
  width: 50%;
  font-size: 1rem;
}
.bio-intro {
  color: #828282;
}
.my-name {
  font-size: 1.5rem;
  color: #0bdbb6;
  text-transform: uppercase;
}
.bio-description {
  color: #828282;
}
.btns {
  margin-top: 2rem;
  font-weight: bold;
}
.btns a {
  margin-right: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-primary) !important ;
  padding: 0.9rem 0.8rem !important;
  background-color: rgba(11, 219, 181, 0.1);
}
.more-info {
  width: 30%;
  color: #c9c9c9;
  margin-left: 24rem;
  margin-top: 7rem;
  text-align: center;
}
span a {
  color: black;
  text-decoration: none;
}
