/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
1em = 16px
*/

/* Tablet Landscape: from 900 to 1200px */
@media only screen and (max-width: 1200px) {
  .header {
    padding-left: 1em;
  }
  .navbar {
  }
  .navbar > * {
    padding: 0 1.5em;
  }
  .moto {
    flex: 0 0 2%;
  }
  .bio {
    flex: 0 0 60%;
  }
  .my-name {
    font-size: 1.3em;
  }
  .svg-container {
    flex: 0 0 30%;
  }
  .desc-right {
    position: absolute;
    flex-direction: row;
    top: 99vh;
    left: 70vw;
  }
  .social-media {
    flex-direction: row;
  }
  .awesome-text {
    display: none;
  }
  .innocent-big {
    display: none;
  }
}
/* Tablet portrait: from 600 to 900px */
@media only screen and (max-width: 900px) {
  .mobile-navigation {
    display: inline-block;
  }
  .body-container {
    min-height: 100vh;
  }
  .svg-container {
    display: none;
  }
  .contact-background {
    font-size: 0.7rem;
    flex: 0 0 80%;
  }
  .bio {
    flex: 0 0 60%;
    margin-top: -4rem !important;
  }
  .desc-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 0 10%;
    margin-left: 5rem;
    margin-top: -25em;
  }
  .my-name {
    font-size: 1rem;
  }
  .btns {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
  }
  .btn {
    display: flex;
    width: 60%;
    justify-content: center;
    margin-bottom: 1em;
    margin-left: 3rem;
  }
  .more-info {
    width: 98%;
    padding-right: 0.8rem;
    padding-top: 1rem;
    text-align: left;
    top: 90vh;
    left: 5vw;
  }
  input:last-child {
    width: 20%;
    margin-left: 60%;
    height: 2rem;
    background-color: var(--color-primary);
    color: white;
  }
  .navbar {
    display: none;
    /* flex-direction: column;
    background-color: var(--color-primary);
    height: 100vh;
    width: 50%;
    color: white; */
  }

  .mobile-nav-icon {
    float: right;
    color: var(--color-primary);
    font-size: 2rem;
    cursor: pointer;
    display: block;
  }
}

/* phones: from 0 to 600px */
@media only screen and (max-width: 600px) {
  .bio {
    font-size: 0.7rem;
  }
  .my-name {
    font-size: 0.8rem;
  }
  .btns {
    margin-top: 1em;
    margin-bottom: 1.2rem;
  }
  .btn {
    width: 80%;
    margin-left: 0;
  }
}
