:root {
  --color-primary: #0bdbb6;
  --color-primary-light: #f9fffe;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  /* 1rem = 10px; */
  font-size: 62.5%;
  line-height: 1.7;
  font-weight: 400;
}
.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
.top-section {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(./../img/diary.jpg);
  height: 60vh;
  background-size: cover;
  background-position: center;
}
.header {
  display: flex;
  flex: 0 0 10%;
  align-items: center;
  padding-left: 3rem;
  justify-content: space-between;
  padding-right: 3rem;
  padding-top: 1rem;
}
.logo-box {
  flex: 0 0 40%;
}
.navbar {
  display: flex;
  float: right;
  height: 100%;
  justify-content: space-around;
  flex: 0 0 60%;
  font-size: 0.7rem;
}
.navbar > * {
  /* padding: 1rem 2rem; */
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.mobile-navigation {
  display: none;
}
.list-item {
  list-style: none;
  height: 100%;
  text-transform: uppercase;
  justify-content: center;
}
.list-item:last-child {
  background-color: rgba(11, 219, 181, 0.1);
}
.list-item a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
}
.list-item a .active {
  color: var(--color-primary);
}
.list-item a:hover {
  color: var(--color-grey-dark-2);
  font-size: 0.8rem;
}
.active {
  color: #0bdbb6 !important;
  font-weight: bold;
  border-bottom: 2px solid var(--color-primary);
}
.contact-me {
  padding: 0 2rem;
  color: var(--color-primary) !important;
}
.blog-description {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20%;
  padding-top: 5%;
}
.blog-desc-title {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}
.blog-desc-paragraph {
  color: white;
  font-size: 1rem;
}
.blog-desc-paragraph span {
  color: var(--color-grey-dark-3);
  display: block;
  font-size: 1.2rem;
}
.edit-dots {
  color: var(--color-primary);
  display: flex;
  justify-content: flex-end;
}
.blogs-type-container {
  display: flex;
  padding: 0 10%;
  border-bottom: 2px solid var(--color-grey-dark-3);
  height: 40px;
  align-items: center;
}
.blog-item {
  list-style: none;
  width: 100%;
}
.blog-item a {
  text-decoration: none;
  padding: 4% 10%;
  height: 100%;
  border-radius: 50px;
  background-color: rgba(11, 219, 181, 0.1);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.blog-item a:not(.blog-active) {
  color: var(--color-primary);
}
.blogs-type-container .blog-active {
  color: white !important ;
}
.blog-active {
  color: white !important;
}
.write-blog {
  margin-top: 3%;
  margin-left: 10%;
  width: 80%;
}
textarea {
  margin-bottom: 0.9rem;
  background: rgba(11, 219, 182, 0.02);
  border: 2px solid rgba(112, 112, 112, 0.05);
  box-sizing: border-box;
  resize: none;
  width: 100%;
}
textarea::placeholder {
  padding-left: 1rem;
  color: rgba(112, 112, 112, 0.4);
}
.post-btn {
  display: flex;
  justify-content: flex-end;
}
.post-btn input {
  margin: 5px 10px;
  width: 10%;
  height: 30px;
  color: var(--color-primary);
  background-color: rgba(11, 219, 182, 0.02);
  border: 2px solid var(--color-primary);
  cursor: pointer;
}
.post-btn input:hover {
  color: white;
  background-color: var(--color-primary);
}
.blog {
  border-top: 2px solid var(--color-grey-dark-3);
  margin-left: 10%;
  width: 80%;
  padding-top: 1rem;
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
}
.blog-title {
}
.blog-details {
  display: flex;
}
.dates {
  margin-right: 10px;
  margin-bottom: 10px;
}
.comments {
  color: var(--color-primary);
}
.blog-pic {
}
.blog-text {
  font-size: 1rem;
}
.blog-more {
  display: flex;
  justify-content: space-between;
}
.read-more {
  color: var(--color-primary);
  font-size: 1rem;
  padding-top: 1rem;
}
.dots-options {
  color: var(--color-grey-dark-2);
  font-size: 2rem;
}
.blog-pic {
  max-width: 100%;
}
.footer {
  display: flex;
  height: 65px;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--color-primary);
  margin-top: 10px;
  color: var(--color-primary);
  font-size: 1rem;
}

/* mobile navigation */
.mobile-navigation {
}
.navigation-checkbox {
  display: none;
}
.navigation-button {
  background-color: white;
  height: 2.5rem;
  width: 2.5rem;
  position: fixed;
  top: 1.2rem;
  right: 1.2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 102;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.navigation-background {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-image: radial-gradient(
    var(--color-primary),
    var(--color-primary-light)
  );
  z-index: 100;
  /*transform: scale(80);
  */
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: transform 0.8s;
  -moz-transition: transform 0.8s;
  -ms-transition: transform 0.8s;
  -o-transition: transform 0.8s;
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 230%;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: var(--color-primary);
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}
.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(150);
  -webkit-transform: scale(150);
  -moz-transform: scale(150);
  -ms-transform: scale(150);
  -o-transform: scale(150);
}
.navigation-checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

/* nav icon */
.navigation__icon {
  position: relative;
  margin-top: 1.2rem;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 1.5rem;
  height: 0.1rem;
  background-color: var(--color-primary);
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
}
.navigation__icon::before {
  top: -0.5rem;
}
.navigation__icon::after {
  top: 0.5rem;
}
.navigation-checkbox:checked + .navigation-button .navigation__icon {
  background-color: transparent;
}
.navigation-checkbox:checked + .navigation-button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}
.navigation-checkbox:checked + .navigation-button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
}
