/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
1em = 16px
*/

/* Tablet Landscape: from 900 to 1200px */
@media only screen and (max-width: 1200px) {
  .header {
    padding-left: 1em;
  }
  .navbar {
  }
  .navbar > * {
    padding: 0 1.5em;
  }
  .bio {
    font-size: 0.6;
    padding-left: 1rem;
    padding-top: 5rem;
    margin-left: 2px;
    padding-right: 7%;
    flex: 0 0 85%;
  }
  .innocent-big {
    display: none;
  }

  /* Tablet portrait: from 600 to 900px */
  @media only screen and (max-width: 900px) {
    .body-container {
      min-height: 100vh;
    }
    .bio {
      font-size: 0.5;
      padding-top: 2rem;
      padding-right: 7%;
      flex: 0 0 80%;
    }
    .mobile-navigation {
      display: inline;
    }
    .category {
      flex-direction: column;
    }
    .category-desc {
      width: 100%;
      padding-bottom: 1rem;
      justify-content: center;
    }
    .category-pics {
      width: 100%;
    }

    .navbar {
      display: none;
      /* flex-direction: column;
    background-color: var(--color-primary);
    height: 100vh;
    width: 50%;
    color: white; */
    }

    .mobile-nav-icon {
      float: right;
      color: var(--color-primary);
      font-size: 2rem;
      cursor: pointer;
      display: block;
    }
  }

  /* phones: from 0 to 600px */
  @media only screen and (max-width: 600px) {
    .bio {
      padding-top: 2rem;
      flex: 0 0 75%;
    }
    .bio-title {
      font-size: 1rem;
    }
    .bio-description {
      font-size: 0.9rem;
    }
  }
}
